2021.11.26 ~ 2022.02.28 => 주어진 데이터,
2022.03.04 ~ 13 그리고 03.18 ~ 20  => 검증 데이터

*최종 제출 방식))))))예보 데이터 시간 데이터 이용 => sum으로 일자 제출
분별 대체로 볼 때 0.2에서 0.4라고 한다면, 0.2 * 1440에서 0.4 * 1440 =>대략 300~500?

우선! 바운더리에 들어오면, 에너지 절감 타당한 모델을 만드는 게 핵심. 노가다 ㄴㄴ

*외부 데이터 방식)))))))관련 예보 데이터에 나와 있는 관측소만 이용해서 평균으로 보내서 하면 근거가 충분할 듯함
(주어진 게 그 관측소뿐이므로)

*주어진 데이터 방식))))열 공급량은 분=>시간 단위로 바뀔 때 합산해야함 (논리적으로 봤을 때, 시간 단위라면 분 단위의 누적이 되어야 맞는 거임. 의미적으로나 수치적으로나 둘 다.)
나머지 변수 => 일단 평균으로 (의미상,수치상 합산은 아닌듯..기온같은 경우..)

*공통))))outlier채우기, 중간에 없는 일자 뽑아서 외부,본 데이터 둘 다 삭제, 검증 데이터 3/15 삭제

*본 데이터12월 빠진 데이터 있음. (22,23,24), 외부 데이터 3월 15일 제거해야함

위는 따라서 외부 데이터에서 제거할 목록임

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import os
import matplotlib.pyplot as plt
import seaborn as sns

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import KFold

from tensorflow import keras
from keras.models import Sequential
from keras import Input
from keras.layers import Dense
from tensorflow.keras.callbacks import ModelCheckpoint
from keras.models import load_model
from keras.callbacks import EarlyStopping

from lightgbm import LGBMRegressor
import random
import xgboost as xgb

WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.tracking.base has been moved to tensorflow.python.trackable.base. The old module will be deleted in version 2.11.
WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.saving.functional_saver has been moved to tensorflow.python.checkpoint.functional_saver. The old module will be deleted in version 2.11.
WARNING:tensorflow:Please fix your imports. Module tensorflow.python.training.saving.checkpoint_options has been moved to tensorflow.python.checkpoint.checkpoint_options. The old module will be deleted in version 2.11.

In [2]:
import warnings
warnings.filterwarnings("ignore")

import tensorflow as tf

from tensorflow.keras.layers import LSTM 
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense, SimpleRNN, GRU
import keras.backend as K 
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler

from tensorflow.keras.optimizers import SGD

In [3]:
import datetime

from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, GRU, Dropout

# 데이터 로드

In [25]:
train1

,smart_farm.yy,smart_farm.mm,smart_farm.dd,smart_farm.hh,smart_farm.nn,smart_farm.insolation,smart_farm.out_tmperature,smart_farm.out_humidity,smart_farm.wind_speed,smart_farm.wind_direction,...,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,2021,11,26,0,0,-2.7,5.8,67,0.0,325,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28.0,18.0,0.9
1,2021,11,26,0,1,-2.9,5.8,67,0.4,344,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28.0,18.0,0.9
2,2021,11,26,0,2,-3.0,5.7,67,0.9,105,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.9
3,2021,11,26,0,3,-3.0,5.7,67,1.3,123,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
4,2021,11,26,0,4,-2.8,5.7,67,0.9,123,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132475,2022,2,28,23,55,-2.7,4.1,51,0.0,57,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.9
132476,2022,2,28,23,56,-2.7,4.1,52,0.4,57,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132477,2022,2,28,23,57,-2.7,4.1,52,0.4,40,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132478,2022,2,28,23,58,-2.6,4.1,52,0.4,36,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132479,2022,2,28,23,59,-2.7,4.1,52,0.4,36,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8

In [5]:
curr_dir = os.getcwd()
curr_dir

forders_tr = os.listdir(curr_dir+"\\data")
forders_tr

df = pd.read_csv(os.path.join(curr_dir+"\\data\\")+forders_tr[0])
df = df.drop(df.columns[0], axis=1)
df

df2022 = df[df['smart_farm.yy']==2022]
df2022
df202203 = df2022[df2022['smart_farm.mm']==3]
df202203

train = df.iloc[:132480]
train = train.reset_index()
train = train.drop('index', axis=1)

test = df.iloc[132480:]
test = test[test['smart_farm.dd']!=15]        # 15일자 제외
test = test.reset_index()
test = test.drop('index', axis=1)
test

# train1 = train.dropna(axis=0)
train1 = train.interpolate(method ='linear')     
# train 결측치 채운 이유=> 시간 별 데이터 중간중간 결측돼서 이를 이용해서 일자 예측하려면 채워줘야하기 때문.
test1 = test.interpolate(method ='linear') 

submission = pd.read_csv('2-1_검증데이터셋.csv')
submission1 = submission.copy()
submission1             # "년도 월 일 시 분 => 년도 월 일"  예측

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4               NaN               NaN
1   2022   3   5               NaN               NaN
2   2022   3   6               NaN               NaN
3   2022   3   7               NaN               NaN
4   2022   3   8               NaN               NaN
5   2022   3   9               NaN               NaN
6   2022   3  10               NaN               NaN
7   2022   3  11               NaN               NaN
8   2022   3  12               NaN               NaN
9   2022   3  13               NaN               NaN
10  2022   3  18               NaN               NaN
11  2022   3  19               NaN               NaN
12  2022   3  20               NaN               NaN

In [3]:
train1[train1.columns[-1]].value_counts()

0.500000    28429
0.000000    25599
0.100000    23461
0.400000    11202
0.600000     9269
            ...
0.344715        1
0.339024        1
0.333333        1
0.327642        1
0.400847        1
Name: smart_farm.heat_supply, Length: 507, dtype: int64

In [4]:
train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132480 entries, 0 to 132479
Data columns (total 23 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   smart_farm.yy                               132480 non-null  int64
 1   smart_farm.mm                               132480 non-null  int64
 2   smart_farm.dd                               132480 non-null  int64
 3   smart_farm.hh                               132480 non-null  int64
 4   smart_farm.nn                               132480 non-null  int64
 5   smart_farm.insolation                       132480 non-null  float64
 6   smart_farm.out_tmperature                   132480 non-null  float64
 7   smart_farm.out_humidity                     132480 non-null  int64
 8   smart_farm.wind_speed                       132480 non-null  float64
 9   smart_farm.wind_direction                   132480 non-null  int64
 10  smart_farm.in_tmperature                    132480 non-null  float64
 11  smart_farm.in_humidity                      132480 non-null  float64
 12  smart_farm.shield_light_h                   132480 non-null  float64
 13  smart_farm.shield_tmperature_h              132480 non-null  float64
 14  smart_farm.shield_energy_h                  132480 non-null  float64
 15  smart_farm.shield_energy_v                  132480 non-null  float64
 16  smart_farm.exhaust_fan                      132480 non-null  float64
 17  smart_farm.ceiling                          132480 non-null  float64
 18  smart_farm.floating_fan                     132480 non-null  float64
 19  smart_farm.fan_coil_b_site                  132480 non-null  float64
 20  smart_farm.ventilation_temperature_control  132480 non-null  float64
 21  smart_farm.heating_temperature_set_up       132480 non-null  float64
 22  smart_farm.heat_supply                      132480 non-null  float64
dtypes: float64(16), int64(7)
memory usage: 23.2 MB

# 외부 데이터 넣기

In [6]:
soil = pd.read_csv('OBS_AAOS_TIM_20220802210224.csv', encoding='cp949')       # 해당 시간 당 지점별 평균 내기
soil

,지점,지점명,일시,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%)
0,119,수원,2021-11-26 00:00,4.5,25.9,24.1,26.6
1,119,수원,2021-11-26 01:00,4.5,25.9,24.1,26.6
2,119,수원,2021-11-26 02:00,4.6,25.9,24.1,26.6
3,119,수원,2021-11-26 03:00,4.6,25.9,24.1,26.6
4,119,수원,2021-11-26 04:00,4.5,25.9,24.1,26.6
...,...,...,...,...,...,...,...
28822,980,강정,2022-03-20 19:00,23.5,34.3,38.0,40.8
28823,980,강정,2022-03-20 20:00,23.6,34.3,38.0,40.8
28824,980,강정,2022-03-20 21:00,23.6,34.3,38.0,40.8
28825,980,강정,2022-03-20 22:00,23.6,34.8,38.8,40.8
28826,980,강정,2022-03-20 23:00,23.5,34.3,38.0,40.8

In [7]:
stn = list(set(soil['지점'].values))
stn

[129, 258, 970, 972, 973, 974, 977, 978, 980, 119, 702]

In [8]:
# 인덱스 리셋, 지점/지점명/일시 컬럼 삭제 ==> 추후 일시 컬럼 복구(df간의 계산 위해)
soil_df = []
for i in range(len(stn)):
    df = soil[soil['지점']==stn[i]]
    df = df.reset_index()
    df = df.drop('index', axis=1)
    df = df.drop(['지점', '지점명', '일시'], axis=1)
    soil_df.append(df)
soil_df[0]

      10CM 정시 토양수분(%)  20CM 정시 토양수분(%)  30CM 정시 토양수분(%)  50CM 정시 토양수분(%)
0                15.6             16.8             28.3             35.0
1                15.5             16.6             28.1             35.0
2                15.5             16.6             28.1             35.0
3                15.6             16.6             28.1             35.0
4                15.6             16.5             28.1             35.0
...               ...              ...              ...              ...
2488             20.6             23.2             31.6             32.9
2489             20.6             23.3             31.5             32.9
2490             20.6             23.3             31.6             32.9
2491             20.7             23.2             31.6             32.9
2492             20.7             23.3             31.7             32.9

[2493 rows x 4 columns]

In [9]:
a = []
for i in range(len(soil_)):
    a.append(len(soil_[i]['일시'].values))     # 중간에 없는 일자의 관측소도 있음.(2710가 최대=>나머지는 0으로 채움.)
a

NameError: name 'soil_' is not defined

In [10]:
# stn     # 129, 972, 974, 978, 702 => 전처리할 파일 _1

In [11]:
ind_1 = [index for index,value in enumerate(a) if value != max(a)]
ind_1

[]

In [12]:
stn_1 = []
for i in range(len(ind_1)):
    stn_1.append(stn[ind_1[i]])
stn_1

[]

In [13]:
for i in range(len(stn)):
    df = soil[soil['지점']==stn[i]]
    df.to_csv(os.path.join('stn\\'+str(stn[i])+'.csv'), index=False)
    
## 임의로 비어 있는 부분 nan 표기 엑셀 vlookup이용해서
## 그 후 0으로 채우고 => 평균화

In [14]:
stn[ind_1[1]]

IndexError: list index out of range

In [15]:
# 참고로, 앞부분 NAN은 안 중요 => 모두 0으로 채워도 됨. 뒷부분 열만 쓰므로
for i in range(len(stn_1)):
    df = pd.read_csv(os.path.join('stn\\'+str(stn_1[i])+'_1.csv'), encoding='cp949')
    df = df.drop(list(df.columns[2:8]), axis=1) 
    df = df.fillna(0)
    df = df.drop(['지점', '지점명', '일시.1'], axis=1)
    df.columns = soil_df[1].columns
    soil_df[ind_1[i]] = df

In [352]:
# 일자 저장
df = pd.read_csv(os.path.join('stn\\'+str(stn_1[0])+'_1.csv'), encoding='cp949')
day = df['일시.1'].values
day

array(['2021-11-26 0:00', '2021-11-26 1:00', '2021-11-26 2:00', ...,
       '2022-03-20 21:00', '2022-03-20 22:00', '2022-03-20 23:00'],
      dtype=object)

In [16]:
# 하나의 데이터 프레임으로(빈 값 하나 만들어서)
soil_df1 = soil_df[0].copy()
for i in range(len(soil_df[0].columns)):
    soil_df1[soil_df[0].columns[i]] = 0
soil_df1

for i in range(len(soil_df)):
    soil_df1 = soil_df1 + soil_df[i]
soil_df1 = soil_df1/len(soil_df)
soil_df1

      10CM 정시 토양수분(%)  20CM 정시 토양수분(%)  30CM 정시 토양수분(%)  50CM 정시 토양수분(%)
0           21.400000        22.190909        21.800000        24.372727
1           21.327273        22.172727        21.900000        24.381818
2           21.281818        22.127273        21.745455        24.372727
3           21.227273        22.109091        21.718182        24.372727
4           21.163636        22.072727        21.700000        24.363636
...               ...              ...              ...              ...
2705              NaN              NaN              NaN              NaN
2706              NaN              NaN              NaN              NaN
2707              NaN              NaN              NaN              NaN
2708              NaN              NaN              NaN              NaN
2709              NaN              NaN              NaN              NaN

[2710 rows x 4 columns]

In [354]:
soil_df1['일자'] = day
soil_df1

,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),일자
0,21.400000,22.190909,21.800000,24.372727,2021-11-26 0:00
1,21.327273,22.172727,21.900000,24.381818,2021-11-26 1:00
2,21.281818,22.127273,21.745455,24.372727,2021-11-26 2:00
3,21.227273,22.109091,21.718182,24.372727,2021-11-26 3:00
4,21.163636,22.072727,21.700000,24.363636,2021-11-26 4:00
...,...,...,...,...,...
2705,20.218182,21.172727,19.836364,22.627273,2022-03-20 19:00
2706,20.172727,21.109091,19.800000,22.627273,2022-03-20 20:00
2707,20.190909,21.072727,19.809091,22.609091,2022-03-20 21:00
2708,20.136364,21.045455,19.854545,22.618182,2022-03-20 22:00
2709,20.154545,20.990909,19.790909,22.627273,2022-03-20 23:00

In [355]:
# 본 데이터12월 빠진 데이터 있음. (22,23,24)
# 외부 데이터 3월 15일 제거해야함

In [356]:
d = soil_df1[soil_df1['일자'] == '2021-12-22 0:00'].index[0]
d1 = soil_df1[soil_df1['일자'] == '2022-03-15 0:00'].index[0]
# print(d1)

for i in range(d, d+24*3):
    soil_df1 = soil_df1.drop(i,axis=0)
    
for i in range(d1, d1+24):
    soil_df1 = soil_df1.drop(i,axis=0)
    
# soil_df1.iloc[d:d+24*3]
# soil_df1.iloc[d1:d1+24]
soil_df1 = soil_df1.reset_index()
soil_df1 = soil_df1.drop('index', axis=1)
soil_df1

,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),일자
0,21.400000,22.190909,21.800000,24.372727,2021-11-26 0:00
1,21.327273,22.172727,21.900000,24.381818,2021-11-26 1:00
2,21.281818,22.127273,21.745455,24.372727,2021-11-26 2:00
3,21.227273,22.109091,21.718182,24.372727,2021-11-26 3:00
4,21.163636,22.072727,21.700000,24.363636,2021-11-26 4:00
...,...,...,...,...,...
2609,20.218182,21.172727,19.836364,22.627273,2022-03-20 19:00
2610,20.172727,21.109091,19.800000,22.627273,2022-03-20 20:00
2611,20.190909,21.072727,19.809091,22.609091,2022-03-20 21:00
2612,20.136364,21.045455,19.854545,22.618182,2022-03-20 22:00
2613,20.154545,20.990909,19.790909,22.627273,2022-03-20 23:00

In [394]:
d = soil_df1[soil_df1['일자'] == '2022-03-01 0:00'].index[0]
d1 = soil_df1[soil_df1['일자'] == '2022-03-04 0:00'].index[0]
soil_train = soil_df1.iloc[:d]
soil_test = soil_df1.iloc[d1:]

soil_test = soil_test.reset_index()
soil_test = soil_test.drop('index', axis=1)
soil_test

,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),일자
0,12.981818,16.572727,14.881818,18.472727,2022-03-04 0:00
1,12.890909,16.536364,14.881818,18.481818,2022-03-04 1:00
2,12.854545,16.509091,14.872727,18.481818,2022-03-04 2:00
3,12.745455,16.490909,14.890909,18.490909,2022-03-04 3:00
4,12.645455,16.472727,14.890909,18.490909,2022-03-04 4:00
...,...,...,...,...,...
374,20.218182,21.172727,19.836364,22.627273,2022-03-20 19:00
375,20.172727,21.109091,19.800000,22.627273,2022-03-20 20:00
376,20.190909,21.072727,19.809091,22.609091,2022-03-20 21:00
377,20.136364,21.045455,19.854545,22.618182,2022-03-20 22:00
378,20.154545,20.990909,19.790909,22.627273,2022-03-20 23:00

In [392]:
soil_train.to_csv('train_prep.csv', index=False)
soil_test.to_csv('test_prep.csv', index=False)

In [359]:
# soil_train.to_csv('train_prep.csv', index=False)
i = pd.date_range('2021-11-26', periods=2352, freq='1H')
i

DatetimeIndex(['2021-11-26 00:00:00', '2021-11-26 01:00:00',
               '2021-11-26 02:00:00', '2021-11-26 03:00:00',
               '2021-11-26 04:00:00', '2021-11-26 05:00:00',
               '2021-11-26 06:00:00', '2021-11-26 07:00:00',
               '2021-11-26 08:00:00', '2021-11-26 09:00:00',
               ...
               '2022-03-03 14:00:00', '2022-03-03 15:00:00',
               '2022-03-03 16:00:00', '2022-03-03 17:00:00',
               '2022-03-03 18:00:00', '2022-03-03 19:00:00',
               '2022-03-03 20:00:00', '2022-03-03 21:00:00',
               '2022-03-03 22:00:00', '2022-03-03 23:00:00'],
              dtype='datetime64[ns]', length=2352, freq='H')

# 외부 데이터에도 없는 날짜 채워줘야함_train

In [4]:
i = pd.date_range('2021-11-26', periods=2280, freq='1H')         #2352
i
day1 = pd.DataFrame(i)
day1.columns = ['일자']
day1
# day1.to_csv('day.csv', index=False)

                      일자
0    2021-11-26 00:00:00
1    2021-11-26 01:00:00
2    2021-11-26 02:00:00
3    2021-11-26 03:00:00
4    2021-11-26 04:00:00
...                  ...
2275 2022-02-28 19:00:00
2276 2022-02-28 20:00:00
2277 2022-02-28 21:00:00
2278 2022-02-28 22:00:00
2279 2022-02-28 23:00:00

[2280 rows x 1 columns]

In [5]:
soil_train1 = pd.read_csv('train_prep_1.csv', encoding='cp949')
soil_train1
soil_train1 = soil_train1.drop(list(soil_train1.columns[:6]), axis=1) 
# soil_train1 = soil_train1.fillna(0)
soil_train1 = soil_train1.drop(['일자.1'], axis=1)
soil_train1.columns = soil_df[1].columns
soil_train1.drop(2280, axis=0, inplace=True)

NameError: name 'soil_df' is not defined

In [ ]:
soil_train1 = soil_train1.interpolate(method ='linear')     # interpolation 적용하고 특정 날짜를 빼야 의미가 상통(전처리=>다시 날짜빼줘야함)
soil_train1

soil_train1['일자'] = i
soil_train1

In [ ]:
d = soil_train1[soil_train1['일자'] == '2021-12-22 0:00'].index[0]
# print(d1)

for i in range(d, d+24*3):
    soil_train1 = soil_train1.drop(i,axis=0)
    
soil_train1 = soil_train1.reset_index()
soil_train1 = soil_train1.drop('index', axis=1)
soil_train1

In [369]:
## 외부데이터 날짜에 조차 아예 없는 값이 있다
# 11/26~30, 12/31,1/31,2/28,3/1~3/3 => 95(5+31+31+28) => 총 95번 동안 0~23 채워서 full date하면 됨 => interpolation 결측치 채움(엑셀)
95*24 - 3*24

2208

# 외부 데이터에도 없는 날짜 채워줘야함_test

In [ ]:
ii = pd.date_range('2022-03-04', periods=17*24, freq='1H')         #2352
ii
day1 = pd.DataFrame(ii)
day1.columns = ['일자']
day1
# day1.to_csv('day_test.csv', index=False)
day1

In [ ]:
soil_test1 = pd.read_csv('test_prep_1.csv', encoding='cp949')
soil_test1
soil_test1 = soil_test1.drop(list(soil_test1.columns[:6]), axis=1) 
# soil_train1 = soil_train1.fillna(0)
soil_test1 = soil_test1.drop(['일자.1'], axis=1)
soil_test1.columns = soil_df[1].columns
# soil_test1.drop(2280, axis=0, inplace=True)
soil_test1

In [ ]:
soil_test1 = soil_test1.interpolate(method ='linear')     # interpolation 적용하고 특정 날짜를 빼야 의미가 상통(전처리=>다시 날짜빼줘야함)
soil_test1

soil_test1['일자'] = ii
soil_test1

In [ ]:
d = soil_test1[soil_test1['일자'] == '2022-03-14 0:00'].index[0]
soil_test1.iloc[d:d+24*4]

for i in range(d, d+24*4):
    soil_test1 = soil_test1.drop(i,axis=0)
    
soil_test1 = soil_test1.reset_index()
soil_test1 = soil_test1.drop('index', axis=1)
soil_test1

In [ ]:
#### 외부데이터로 뭉친 train,test 따로 저장 => 드라이브

# 본 데이터 시간별로 만들기

In [ ]:
col = ['smart_farm.shield_light_h',\
       'smart_farm.shield_tmperature_h', 'smart_farm.shield_energy_h',\
       'smart_farm.shield_energy_v', 'smart_farm.exhaust_fan',\
       'smart_farm.ceiling', 'smart_farm.floating_fan',\
       'smart_farm.fan_coil_b_site',\
       'smart_farm.ventilation_temperature_control',\
       'smart_farm.heating_temperature_set_up']

col

In [328]:
train1

,smart_farm.yy,smart_farm.mm,smart_farm.dd,smart_farm.hh,smart_farm.nn,smart_farm.insolation,smart_farm.out_tmperature,smart_farm.out_humidity,smart_farm.wind_speed,smart_farm.wind_direction,...,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,2021,11,26,0,0,-2.7,5.8,67,0.0,325,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28.0,18.0,0.9
1,2021,11,26,0,1,-2.9,5.8,67,0.4,344,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,28.0,18.0,0.9
2,2021,11,26,0,2,-3.0,5.7,67,0.9,105,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.9
3,2021,11,26,0,3,-3.0,5.7,67,1.3,123,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
4,2021,11,26,0,4,-2.8,5.7,67,0.9,123,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132475,2022,2,28,23,55,-2.7,4.1,51,0.0,57,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.9
132476,2022,2,28,23,56,-2.7,4.1,52,0.4,57,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132477,2022,2,28,23,57,-2.7,4.1,52,0.4,40,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132478,2022,2,28,23,58,-2.6,4.1,52,0.4,36,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8
132479,2022,2,28,23,59,-2.7,4.1,52,0.4,36,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,28.0,18.0,0.8

In [255]:
132480/60

2208.0

In [256]:
train_ = pd.DataFrame()
for k in tqdm(range(len(col))):
    h = []
    for i in range(int(len(train1)/60)):      # 분 -> 시간 단위 바꾸기 위해
        h.append(np.mean(train1[col[k]][60*i:60*(i+1)]))
    train_[col[k]] = h

    
h = []
for i in range(int(len(train1)/60)):
    h.append(np.mean(train1['smart_farm.heat_supply'][60*i:60*(i+1)]))
train_['smart_farm.heat_supply'] = h
train_

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:05<00:00,  1.86it/s]

,smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.600000,28.0,18.000,0.780000
1,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.650000,28.0,18.000,0.811667
2,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.683333,28.0,18.000,0.750000
3,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.750000,28.0,18.000,0.766667
4,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.783333,28.0,18.000,0.516667
...,...,...,...,...,...,...,...,...,...,...,...
2203,0.0,61.75,0.0,0.0,0.0,0.0,1.000000,0.000000,28.0,16.750,0.100000
2204,0.0,0.00,0.0,0.0,0.0,0.0,0.983333,0.000000,28.0,15.140,0.100000
2205,0.0,0.00,0.0,0.0,0.0,0.0,0.983333,0.150000,28.0,15.390,0.246667
2206,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.833333,28.0,17.235,0.608333
2207,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.683333,28.0,18.000,0.521667

In [419]:
train_real = pd.concat([soil_train1, train_], axis=1)
train_real

,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),일자,smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,21.400000,22.190909,21.800000,24.372727,2021-11-26 00:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.600000,28.0,18.000,0.780000
1,21.327273,22.172727,21.900000,24.381818,2021-11-26 01:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.650000,28.0,18.000,0.811667
2,21.281818,22.127273,21.745455,24.372727,2021-11-26 02:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.683333,28.0,18.000,0.750000
3,21.227273,22.109091,21.718182,24.372727,2021-11-26 03:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.750000,28.0,18.000,0.766667
4,21.163636,22.072727,21.700000,24.363636,2021-11-26 04:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.783333,28.0,18.000,0.516667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2203,12.381818,14.727273,13.590909,17.200000,2022-02-28 19:00:00,0.0,61.75,0.0,0.0,0.0,0.0,1.000000,0.000000,28.0,16.750,0.100000
2204,12.318182,14.772727,13.609091,17.209091,2022-02-28 20:00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.983333,0.000000,28.0,15.140,0.100000
2205,12.290909,14.790909,13.618182,17.209091,2022-02-28 21:00:00,0.0,0.00,0.0,0.0,0.0,0.0,0.983333,0.150000,28.0,15.390,0.246667
2206,12.227273,14.727273,13.627273,17.209091,2022-02-28 22:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.833333,28.0,17.235,0.608333
2207,12.190909,14.745455,13.681818,17.218182,2022-02-28 23:00:00,0.0,0.00,0.0,0.0,0.0,0.0,1.000000,0.683333,28.0,18.000,0.521667

In [420]:
# train_real.to_csv('train_real.csv', index=False)

# 검증 데이터 일자별 + 외부 셋 넣기

In [371]:
submission1

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4               NaN               NaN
1   2022   3   5               NaN               NaN
2   2022   3   6               NaN               NaN
3   2022   3   7               NaN               NaN
4   2022   3   8               NaN               NaN
5   2022   3   9               NaN               NaN
6   2022   3  10               NaN               NaN
7   2022   3  11               NaN               NaN
8   2022   3  12               NaN               NaN
9   2022   3  13               NaN               NaN
10  2022   3  18               NaN               NaN
11  2022   3  19               NaN               NaN
12  2022   3  20               NaN               NaN

In [404]:
test_ = pd.DataFrame()
for k in tqdm(range(len(col))):
    h = []
    for i in range(int(len(test1)/60)):      # 분 -> 시간 단위 바꾸기 위해
        h.append(np.mean(test1[col[k]][60*i:60*(i+1)]))
    test_[col[k]] = h

    
h = []
for i in range(int(len(test1)/60)):
    h.append(np.mean(test1['smart_farm.heat_supply'][60*i:60*(i+1)]))
test_['smart_farm.heat_supply'] = h
test_

100%|██████████████████████████████████████████████████████████████████████████████████| 10/10 [00:00<00:00, 31.24it/s]

,smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
1,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.733333,28.000000,18.000000,NaN
2,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
3,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.816667,28.000000,18.000000,NaN
4,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
307,0.0,91.316667,0.0,0.0,0.0,0.0,1.000000,0.000000,27.866667,17.383333,NaN
308,0.0,0.200000,0.0,0.0,0.0,0.0,0.983333,0.000000,28.000000,15.478333,NaN
309,0.0,0.000000,0.0,0.0,0.0,0.0,0.966667,0.150000,28.000000,15.095000,NaN
310,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.616667,28.000000,16.616667,NaN
311,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.700000,28.000000,17.963333,NaN

In [421]:
test_real = pd.concat([soil_test1, test_], axis=1)
test_real

,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),일자,smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,12.981818,16.572727,14.881818,18.472727,2022-03-04 00:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
1,12.890909,16.536364,14.881818,18.481818,2022-03-04 01:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.733333,28.000000,18.000000,NaN
2,12.854545,16.509091,14.872727,18.481818,2022-03-04 02:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
3,12.745455,16.490909,14.890909,18.490909,2022-03-04 03:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.816667,28.000000,18.000000,NaN
4,12.645455,16.472727,14.890909,18.490909,2022-03-04 04:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.866667,28.000000,18.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,20.218182,21.172727,19.836364,22.627273,2022-03-20 19:00:00,0.0,91.316667,0.0,0.0,0.0,0.0,1.000000,0.000000,27.866667,17.383333,NaN
308,20.172727,21.109091,19.800000,22.627273,2022-03-20 20:00:00,0.0,0.200000,0.0,0.0,0.0,0.0,0.983333,0.000000,28.000000,15.478333,NaN
309,20.190909,21.072727,19.809091,22.609091,2022-03-20 21:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,0.966667,0.150000,28.000000,15.095000,NaN
310,20.136364,21.045455,19.854545,22.618182,2022-03-20 22:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.616667,28.000000,16.616667,NaN
311,20.154545,20.990909,19.790909,22.627273,2022-03-20 23:00:00,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.700000,28.000000,17.963333,NaN

In [422]:
# test_real.to_csv('test_real.csv', index=False)

# real_sum데이터셋 결측 메꾸기

In [28]:
# train_real_s = pd.read_csv('train_real_sum.csv')
# test_real_s = pd.read_csv('test_real_sum.csv')

In [31]:
i = pd.date_range('2022-03-01', periods=20*24, freq='1H')         #2352
i
day1 = pd.DataFrame(i)
day1.columns = ['일자']
day1
day1.to_csv('day_20.csv', index=False)

In [35]:
i = pd.date_range('2021-11-26', periods=95*24, freq='1H')         #2352
i
day1 = pd.DataFrame(i)
day1.columns = ['일자']
day1
day1.to_csv('day_95.csv', index=False)

In [ ]:
## train_test모두 결측일자 메꾼후, 둘 합쳐서 보간법 진행

In [47]:
train_real_sum = pd.read_csv('train_real_sum.csv', encoding='cp949')
train_real_sum

test_real_sum = pd.read_csv('test_real_sum1.csv', encoding='cp949')
test_real_sum

real = pd.concat([train_real_sum, test_real_sum], axis=0)
real = real.reset_index()
real = real.drop('index', axis=1)
real
real1 = real.interpolate(method ='linear')  
real1
real1.isna().sum()

# 95*24+24*20  #2760

일자                                            0
10CM 정시 토양수분(%)                               0
20CM 정시 토양수분(%)                               0
30CM 정시 토양수분(%)                               0
50CM 정시 토양수분(%)                               0
smart_farm.shield_light_h                     0
smart_farm.shield_tmperature_h                0
smart_farm.shield_energy_h                    0
smart_farm.shield_energy_v                    0
smart_farm.exhaust_fan                        0
smart_farm.ceiling                            0
smart_farm.floating_fan                       0
smart_farm.fan_coil_b_site                    0
smart_farm.ventilation_temperature_control    0
smart_farm.heating_temperature_set_up         0
smart_farm.heat_supply                        0
dtype: int64

In [49]:
# real1.to_csv('real_data.csv', index=False)

In [48]:
# 다시 나누기(훈련시에 나누기)
real1[-480:]

,일자,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
2280,2022-03-01 0:00,12.201743,14.770486,13.698257,17.235367,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.685845,28.000000,18.000000,30.871233
2281,2022-03-01 1:00,12.212578,14.795517,13.714695,17.252553,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.688356,28.000000,18.000000,30.442466
2282,2022-03-01 2:00,12.223412,14.820548,13.731133,17.269738,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.690868,28.000000,18.000000,30.013699
2283,2022-03-01 3:00,12.234247,14.845579,13.747572,17.286924,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.693379,28.000000,18.000000,29.584932
2284,2022-03-01 4:00,12.245081,14.870610,13.764010,17.304110,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.695890,28.000000,18.000000,29.156164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2755,2022-03-20 19:00,20.218182,21.172727,19.836364,22.627273,0.0,91.316667,0.0,0.0,0.0,0.0,1.000000,0.000000,27.866667,17.383333,0.000000
2756,2022-03-20 20:00,20.172727,21.109091,19.800000,22.627273,0.0,0.200000,0.0,0.0,0.0,0.0,0.983333,0.000000,28.000000,15.478333,0.000000
2757,2022-03-20 21:00,20.190909,21.072727,19.809091,22.609091,0.0,0.000000,0.0,0.0,0.0,0.0,0.966667,0.150000,28.000000,15.095000,0.000000
2758,2022-03-20 22:00,20.136364,21.045455,19.854545,22.618182,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.616667,28.000000,16.616667,0.000000
2759,2022-03-20 23:00,20.154545,20.990909,19.790909,22.627273,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.700000,28.000000,17.963333,0.000000

# real dataset 호출

In [7]:
real1 = pd.read_csv('real_data.csv', encoding='utf-8')
real1

,일자,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,2021-11-26 0:00,21.400000,22.190909,21.800000,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.600000,28.000000,18.000000,46.8
1,2021-11-26 1:00,21.327273,22.172727,21.900000,24.381818,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.650000,28.000000,18.000000,48.7
2,2021-11-26 2:00,21.281818,22.127273,21.745455,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.683333,28.000000,18.000000,45.0
3,2021-11-26 3:00,21.227273,22.109091,21.718182,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.750000,28.000000,18.000000,46.0
4,2021-11-26 4:00,21.163636,22.072727,21.700000,24.363636,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.783333,28.000000,18.000000,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2755,2022-03-20 19:00,20.218182,21.172727,19.836364,22.627273,0.0,91.316667,0.0,0.0,0.0,0.0,1.000000,0.000000,27.866667,17.383333,0.0
2756,2022-03-20 20:00,20.172727,21.109091,19.800000,22.627273,0.0,0.200000,0.0,0.0,0.0,0.0,0.983333,0.000000,28.000000,15.478333,0.0
2757,2022-03-20 21:00,20.190909,21.072727,19.809091,22.609091,0.0,0.000000,0.0,0.0,0.0,0.0,0.966667,0.150000,28.000000,15.095000,0.0
2758,2022-03-20 22:00,20.136364,21.045455,19.854545,22.618182,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.616667,28.000000,16.616667,0.0
2759,2022-03-20 23:00,20.154545,20.990909,19.790909,22.627273,0.0,0.000000,0.0,0.0,0.0,0.0,1.000000,0.700000,28.000000,17.963333,0.0

In [25]:
training = real1[:-504]
testing = real1[-504:]
testing = testing.reset_index()
testing = testing.drop('index', axis=1)
testing
training

,일자,10CM 정시 토양수분(%),20CM 정시 토양수분(%),30CM 정시 토양수분(%),50CM 정시 토양수분(%),smart_farm.shield_light_h,smart_farm.shield_tmperature_h,smart_farm.shield_energy_h,smart_farm.shield_energy_v,smart_farm.exhaust_fan,smart_farm.ceiling,smart_farm.floating_fan,smart_farm.fan_coil_b_site,smart_farm.ventilation_temperature_control,smart_farm.heating_temperature_set_up,smart_farm.heat_supply
0,2021-11-26 0:00,21.400000,22.190909,21.800000,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.600000,28.0,18.000000,46.8
1,2021-11-26 1:00,21.327273,22.172727,21.900000,24.381818,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.650000,28.0,18.000000,48.7
2,2021-11-26 2:00,21.281818,22.127273,21.745455,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.683333,28.0,18.000000,45.0
3,2021-11-26 3:00,21.227273,22.109091,21.718182,24.372727,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.750000,28.0,18.000000,46.0
4,2021-11-26 4:00,21.163636,22.072727,21.700000,24.363636,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.783333,28.0,18.000000,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2251,2022-02-27 19:00,12.181818,13.927273,13.500000,17.163636,0.0,58.216667,0.0,0.0,0.0,0.0,1.0,0.000000,28.0,16.716667,0.4
2252,2022-02-27 20:00,12.181818,14.018182,13.536364,17.172727,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.166667,28.0,15.128333,13.1
2253,2022-02-27 21:00,12.145455,14.063636,13.554545,17.172727,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.750000,28.0,15.411667,35.4
2254,2022-02-27 22:00,12.081818,14.100000,13.545455,17.181818,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.900000,28.0,17.263333,37.4
2255,2022-02-27 23:00,12.009091,14.127273,13.554545,17.181818,0.0,0.000000,0.0,0.0,0.0,0.0,1.0,0.900000,28.0,18.000000,37.7

# Model1

앞서 전처리된 train_real, test_real dataset 가져옴(제어장치 컬럼 포함된)

<순서>
주어진 데이터(21.11.26~22.02.28까지의 연속 데이터) 

22.03.01~22.03.20 (총20일간) 데이터 예측 => 이렇게 하면 구조상 문제 없음

원하는 값 뽑아낼 수 있게

1) 한꺼번에 24*20개씩 예측하도록 => 구조상 복잡함..

2) 한개씩(시간 단위로, 딱 한개씩, 일자 한개씩 X) 예측하도록 =>train,test,validation 다시 나눠야됨

In [32]:
X = training.drop(['10CM 정시 토양수분(%)', '20CM 정시 토양수분(%)', '30CM 정시 토양수분(%)',\
       '50CM 정시 토양수분(%)','일자','smart_farm.heat_supply'], axis=1)
y = training[['smart_farm.heat_supply']].values

training_data, test_data, y_tr, y_te = train_test_split(X, y, test_size=0.3, shuffle=False)   # shuffle은 안 됨. 시간적순서라

validation = testing.drop(['10CM 정시 토양수분(%)', '20CM 정시 토양수분(%)', '30CM 정시 토양수분(%)',\
       '50CM 정시 토양수분(%)','일자','smart_farm.heat_supply'], axis=1)



# scaler = MinMaxScaler()
# training_data = scaler.fit_transform(training_data)
# training_data
# test_data = scaler.fit_transform(test_data)
# test_data



x_train = []
y_train = []

for i in range(24, training_data.shape[0]):
  x_train.append(training_data[i-24:i])
  y_train.append(training_data.iloc[i,-1])

#   y_train.append(training_data.iloc[i:i+20, -1].values)
#   y_train.append(training_data[i, 0])
    
    
x_test = []
y_test = []

for i in range(24, test_data.shape[0]): # 롤링 기법에서 쓰이듯이 윈도우 =1
  x_test.append(test_data[i-24:i])
#   y_test.append(test_data.iloc[i:i+20, -1].values)     # [i,0]
  y_test.append(test_data.iloc[i,-1])
x_train, y_train = np.array(x_train), np.array(y_train)
x_test, y_test = np.array(x_test), np.array(y_test)



x_validation = []
for i in range(24, validation.shape[0]): # 롤링 기법에서 쓰이듯이 윈도우 =1
  x_validation.append(validation[i-24:i])
#   y_test.append(.iloc[i, -1])     # [i,0]
x_validation = np.array(x_validation)


# x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))


print(x_train.shape) # 2188,20,10 => data수, 덩어리단위, 컬럼수
print(y_train.shape) # 2188, => data수, 타겟 값(heat_supply_day)
print(x_test.shape)
print(y_test.shape)
print(x_validation.shape)
# x_train[0]

regression_GRU = Sequential()
regression_GRU.add(GRU(units=50, activation="relu", return_sequences=True, input_shape = (x_train.shape[1], x_train.shape[2]))) # 덩어리 원소 수 s, 컬럼수
regression_GRU.add(Dropout(0.2))

regression_GRU.add(GRU(units=60, activation="relu", return_sequences=True))
regression_GRU.add(Dropout(0.3))

regression_GRU.add(GRU(units=80, activation="relu", return_sequences=True))
regression_GRU.add(Dropout(0.4))

regression_GRU.add(GRU(units=48, activation="relu"))    # 120 => 48 = 24*2
regression_GRU.add(Dropout(0.5))

regression_GRU.add(Dense(units = 1))     # 20*24=>1

regression_GRU.compile(optimizer='adam', loss='mean_squared_error')

GRU_history = regression_GRU.fit(x_train, y_train, epochs=10, batch_size=32, validation_data=(x_test, y_test))

# 시계열 데이터는 시간별 데이터프레임을 통으로 넣고 돌리는 것

(1555, 24, 10)
(1555,)
(653, 24, 10)
(653,)
(480, 24, 10)
Epoch 1/10
49/49 [==============================] - 6s 38ms/step - loss: 91.6873 - val_loss: 56.6695
Epoch 2/10
49/49 [==============================] - 1s 28ms/step - loss: 29.2906 - val_loss: 20.9511
Epoch 3/10
49/49 [==============================] - 1s 28ms/step - loss: 20.8320 - val_loss: 22.4541
Epoch 4/10
49/49 [==============================] - 1s 29ms/step - loss: 19.3873 - val_loss: 29.9049
Epoch 5/10
49/49 [==============================] - 1s 30ms/step - loss: 18.1889 - val_loss: 18.7307
Epoch 6/10
49/49 [==============================] - 2s 35ms/step - loss: 17.0623 - val_loss: 17.3961
Epoch 7/10
49/49 [==============================] - 2s 32ms/step - loss: 17.4023 - val_loss: 23.1656
Epoch 8/10
49/49 [==============================] - 2s 32ms/step - loss: 15.1631 - val_loss: 14.6056
Epoch 9/10
49/49 [==============================] - 2s 31ms/step - loss: 15.6367 - val_loss: 9.5618
Epoch 10/10
49/49 [==============================] - 2s 33ms/step - loss: 16.1246 - val_loss: 13.4490

In [33]:
p = regression_GRU.predict(x_validation)    # 13일치 넣으면 -> 20일치 나오겠지
# p1 = scaler.inverse_transform(p)
p = p.flatten()

h1 = []
for i in range(int(len(p)/24)):      # 분 -> 시간 단위 바꾸기 위해
    h1.append(np.sum(p[24*i:24*(i+1)]))
h1     

# 4~13, 18~20
h1.insert(0,0)     # 한 번만 클릭!
h1

h11 = h1[4:14] + h1[18:21]
h11
submission1['heat_supply_day1'] = h11
submission1

15/15 [==============================] - 1s 8ms/step

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4        361.109314        326.590057
1   2022   3   5        364.125854        354.739990
2   2022   3   6        364.233826        352.806763
3   2022   3   7        383.005676        365.836060
4   2022   3   8        373.862732        333.457703
5   2022   3   9        372.119629        358.927795
6   2022   3  10        365.764374        358.988007
7   2022   3  11        363.284180        350.503998
8   2022   3  12        365.085022        350.058929
9   2022   3  13        371.897705        347.735718
10  2022   3  18        363.250122        341.598053
11  2022   3  19        364.723846        359.732422
12  2022   3  20        361.595093        356.842529

In [11]:
x_validation =[]
x_validation.append(validation)
x_validation = np.array(x_validation)
x_validation.shape
# x_validation = []
# for i in range(24*13, validation.shape[0]): # 롤링 기법에서 쓰이듯이 윈도우 =1
#   x_validation.append(validation[i-24*13:i])
# #   y_test.append(.iloc[i, -1])     # [i,0]
# x_validation = np.array(x_validation)

(1, 312, 10)

In [12]:
p = regression_GRU.predict(x_validation)    # 13일치 넣으면 -> 20일치 나오겠지
# p1 = scaler.inverse_transform(p)
p

1/1 [==============================] - 2s 2s/step

array([[15.637694 , 15.506315 , 15.692649 , 15.639039 , 15.655281 ,
        15.861987 , 15.845499 , 15.452514 , 15.919504 , 15.418943 ,
        15.779393 , 15.4936495, 15.546856 , 15.413088 , 15.52443  ,
        15.880141 , 15.71146  , 15.861456 , 15.902172 , 15.651595 ,
        15.857935 , 15.590788 , 15.43164  , 15.356221 , 15.645626 ,
        15.63178  , 15.589406 , 15.819371 , 15.829607 , 15.443138 ,
        15.985282 , 15.652071 , 15.420209 , 15.695361 , 15.204221 ,
        15.469384 , 15.806011 , 15.398718 , 15.4097185, 15.799467 ,
        15.31391  , 15.595229 , 15.533873 , 15.452428 , 15.426169 ,
        16.021143 , 15.966475 , 15.811765 , 15.692831 , 15.69044  ,
        15.996468 , 15.681581 , 15.805289 , 15.635656 , 15.956581 ,
        15.763405 , 15.498786 , 15.638503 , 15.002634 , 15.447119 ,
        15.640867 , 15.448147 , 15.594084 , 15.850952 , 15.905488 ,
        15.636702 , 15.39757  , 15.720643 , 15.442019 , 15.133006 ,
        15.749924 , 15.756031 , 15.831837 , 15.531271 , 15.7482   ,
        15.778143 , 15.555708 , 15.555087 , 15.756726 , 15.8321   ,
        14.856804 , 15.42578  , 16.098131 , 15.463759 , 15.861497 ,
        15.455975 , 15.79164  , 15.818756 , 15.36751  , 15.746978 ,
        14.872562 , 15.60714  , 15.757226 , 15.413282 , 15.735788 ,
        15.651248 , 15.464688 , 15.465932 , 16.011915 , 15.467077 ,
        15.737591 , 15.730323 , 15.319495 , 15.615949 , 15.805311 ,
        15.776978 , 16.042347 , 15.288117 , 15.563974 , 15.664224 ,
        15.553183 , 15.662493 , 15.681552 , 15.119755 , 15.436778 ,
        15.72478  , 15.446467 , 15.636305 , 15.260937 , 15.67498  ,
        15.470739 , 15.894824 , 15.508778 , 15.507419 , 15.463224 ,
        15.714195 , 15.922136 , 16.000559 , 15.625193 , 15.587838 ,
        15.301339 , 15.941584 , 15.394725 , 15.596102 , 15.809979 ,
        15.947074 , 15.539492 , 15.6357155, 15.50714  , 15.7894125,
        15.953712 , 15.567308 , 15.48534  , 15.484115 , 15.695854 ,
        15.620089 , 15.271197 , 15.268941 , 15.952297 , 15.582146 ,
        15.037181 , 15.314904 , 15.66126  , 15.344788 , 15.359068 ,
        15.271294 , 15.434176 , 15.662767 , 15.738503 , 15.574956 ,
        15.145927 , 15.405579 , 15.607206 , 15.493255 , 15.528044 ,
        15.91497  , 15.826972 , 16.149803 , 15.636938 , 15.705089 ,
        15.616825 , 15.389206 , 15.876648 , 15.859755 , 15.704049 ,
        15.62567  , 15.66365  , 15.391647 , 15.758395 , 15.920901 ,
        15.47149  , 15.344324 , 15.9048195, 15.6497965, 15.934816 ,
        15.6845045, 15.60571  , 15.769713 , 15.532158 , 15.750796 ,
        15.688928 , 15.922991 , 15.520911 , 15.453917 , 15.701111 ,
        15.577748 , 15.507158 , 15.155892 , 15.223001 , 15.710394 ,
        15.404813 , 15.832306 , 15.768961 , 15.704212 , 15.695461 ,
        15.649011 , 15.351189 , 15.557903 , 15.719061 , 15.821673 ,
        15.764668 , 15.977823 , 15.7822695, 16.010641 , 15.439143 ,
        15.451982 , 15.9744215, 15.010343 , 15.884357 , 15.714941 ,
        15.386098 , 15.763842 , 15.638033 , 15.73315  , 15.726804 ,
        15.741239 , 15.524679 , 15.587232 , 15.803707 , 16.030462 ,
        15.5136385, 15.65767  , 15.51066  , 15.611578 , 15.615318 ,
        15.353134 , 15.715726 , 15.534819 , 15.288883 , 15.649487 ,
        15.937719 , 15.751377 , 15.811059 , 15.637455 , 15.545821 ,
        15.449581 , 15.5931425, 15.791196 , 15.442589 , 15.546072 ,
        15.660217 , 15.956026 , 15.533949 , 15.618746 , 15.859483 ,
        15.816736 , 15.482756 , 15.401592 , 15.4790325, 15.617527 ,
        15.594157 , 15.462291 , 15.450116 , 15.8104315, 15.917755 ,
        15.886348 , 15.273027 , 15.796226 , 15.928826 , 15.54457  ,
        15.645818 , 15.567608 , 15.295982 , 16.010849 , 15.691759 ,
        15.802267 , 15.560582 , 16.11471  , 15.534208 , 15.7735815,
        15.626563 , 15.968808 , 16.039621 , 15.665017 , 15.679982 ,
        15.679025 , 15.681692 , 15.211361 , 15.827399 , 15.559541 ,
        15.552055 , 15.63801  , 15.553906 , 15.815132 , 15.681267 ,
        15.385515 , 15.710963 , 15.80325  , 15.68003  , 15.684233 ,
        15.596383 , 15.467131 , 15.29756  , 15.597061 , 15.683125 ,
        15.611284 , 15.851007 , 15.752412 , 15.616819 , 15.545157 ,
        15.381455 , 15.158671 , 15.563512 , 15.3808   , 15.579747 ,
        15.732153 , 15.541182 , 16.168953 , 15.754636 , 15.326714 ,
        15.646175 , 15.326481 , 15.11273  , 14.96187  , 15.334154 ,
        15.772151 , 15.542281 , 15.628199 , 15.373853 , 15.81966  ,
        15.381106 , 15.793928 , 15.855429 , 15.522042 , 15.8152895,
        15.199109 , 15.714989 , 15.264669 , 15.357684 , 16.007715 ,
        15.708512 , 15.4456415, 15.8200445, 15.45036  , 15.038244 ,
        15.578296 , 15.695037 , 15.9673395, 15.269016 , 15.633196 ,
        15.854666 , 15.518289 , 15.484135 , 15.857537 , 15.69545  ,
        15.821223 , 15.483217 , 15.642254 , 15.643784 , 15.631785 ,
        15.548521 , 16.167566 , 15.367767 , 15.615148 , 15.633495 ,
        15.587222 , 15.785851 , 15.483818 , 15.809803 , 15.5863905,
        15.712985 , 15.522512 , 15.800934 , 15.882521 , 15.756237 ,
        15.239675 , 15.653458 , 15.723055 , 16.006424 , 15.81958  ,
        15.593389 , 15.743731 , 15.819984 , 15.617132 , 15.733941 ,
        15.514819 , 15.693313 , 15.709613 , 15.566428 , 15.527258 ,
        15.614831 , 15.651605 , 15.616781 , 15.50861  , 15.432975 ,
        15.413767 , 16.053999 , 15.510368 , 15.662527 , 15.8693905,
        15.2442045, 15.994189 , 15.764677 , 15.657489 , 15.761445 ,
        15.563103 , 15.839275 , 15.964978 , 15.737629 , 15.737978 ,
        15.951127 , 15.7661085, 15.343662 , 15.611157 , 15.682704 ,
        15.481371 , 15.528333 , 15.78579  , 15.256019 , 15.626037 ,
        15.375396 , 15.475405 , 15.538321 , 15.685715 , 15.704341 ,
        15.413334 , 15.951313 , 15.722102 , 15.919793 , 15.635422 ,
        15.775318 , 15.606922 , 15.081444 , 15.400046 , 15.593648 ,
        15.781329 , 15.57627  , 15.983762 , 15.632703 , 15.280657 ,
        15.8656225, 15.639397 , 16.047628 , 15.506423 , 15.711431 ,
        15.692239 , 15.66106  , 15.606242 , 15.987828 , 15.487472 ,
        15.6126375, 15.367524 , 15.355672 , 15.298968 , 15.967341 ,
        15.689907 , 15.625203 , 15.648434 , 15.6881485, 15.290964 ,
        15.376626 , 15.686615 , 15.834518 , 15.687573 , 15.440266 ,
        15.269778 , 16.122831 , 15.451988 , 15.489412 , 15.647421 ,
        15.4735775, 15.789899 , 15.765548 , 15.445108 , 15.754064 ,
        15.554334 , 15.666094 , 15.865644 , 16.024345 , 15.728724 ]],
      dtype=float32)

In [13]:
h1 = []
for i in range(int(len(p[0])/24)):      # 분 -> 시간 단위 바꾸기 위해
    h1.append(np.sum(p[0][24*i:24*(i+1)]))
h1

[375.63025,
 374.92035,
 375.08472,
 374.51312,
 374.15115,
 375.64795,
 372.86118,
 376.4088,
 374.78125,
 374.9702,
 375.24908,
 376.89618,
 374.44934,
 373.13214,
 374.58307,
 376.47717,
 375.86957,
 375.3113,
 374.82724,
 375.32712]

In [14]:
# 4~13, 18~20
h1.insert(0,0)     # 한 번만 클릭!
h1

[0,
 375.63025,
 374.92035,
 375.08472,
 374.51312,
 374.15115,
 375.64795,
 372.86118,
 376.4088,
 374.78125,
 374.9702,
 375.24908,
 376.89618,
 374.44934,
 373.13214,
 374.58307,
 376.47717,
 375.86957,
 375.3113,
 374.82724,
 375.32712]

In [15]:
h11 = h1[4:14] + h1[18:21]
h11

[374.51312,
 374.15115,
 375.64795,
 372.86118,
 376.4088,
 374.78125,
 374.9702,
 375.24908,
 376.89618,
 374.44934,
 375.3113,
 374.82724,
 375.32712]

In [16]:
submission1['heat_supply_day1'] = h11
submission1

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4        374.513123               NaN
1   2022   3   5        374.151154               NaN
2   2022   3   6        375.647949               NaN
3   2022   3   7        372.861176               NaN
4   2022   3   8        376.408813               NaN
5   2022   3   9        374.781250               NaN
6   2022   3  10        374.970215               NaN
7   2022   3  11        375.249084               NaN
8   2022   3  12        376.896179               NaN
9   2022   3  13        374.449341               NaN
10  2022   3  18        375.311310               NaN
11  2022   3  19        374.827240               NaN
12  2022   3  20        375.327118               NaN

# Model2

In [26]:
# 20일치 한 번에 예측(덩어리 잡고 => 기준: 검증셋 일수만큼)

X = training.drop(['일자','smart_farm.heat_supply'], axis=1)
y = training[['smart_farm.heat_supply']].values

training_data, test_data, y_tr, y_te = train_test_split(X, y, test_size=0.3, shuffle=False)   # shuffle은 안 됨. 시간적순서라

validation = testing.drop(['일자','smart_farm.heat_supply'], axis=1)




# scaler = MinMaxScaler()
# training_data = scaler.fit_transform(training_data)
# training_data
# test_data = scaler.fit_transform(test_data)
# test_data



x_train = []
y_train = []

for i in range(24, training_data.shape[0]):
  x_train.append(training_data[i-24:i])
  y_train.append(training_data.iloc[i,-1])

#   y_train.append(training_data.iloc[i:i+20, -1].values)
#   y_train.append(training_data[i, 0])
    
    
x_test = []
y_test = []

for i in range(24, test_data.shape[0]): # 롤링 기법에서 쓰이듯이 윈도우 =1
  x_test.append(test_data[i-24:i])
#   y_test.append(test_data.iloc[i:i+20, -1].values)     # [i,0]
  y_test.append(test_data.iloc[i,-1])
x_train, y_train = np.array(x_train), np.array(y_train)
x_test, y_test = np.array(x_test), np.array(y_test)



x_validation = []
for i in range(24, validation.shape[0]): # 롤링 기법에서 쓰이듯이 윈도우 =1
  x_validation.append(validation[i-24:i])
#   y_test.append(.iloc[i, -1])     # [i,0]
x_validation = np.array(x_validation)


# x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))


print(x_train.shape) # 2188,20,10 => data수, 덩어리단위, 컬럼수
print(y_train.shape) # 2188, => data수, 타겟 값(heat_supply_day)
print(x_test.shape)
print(y_test.shape)
print(x_validation.shape)
# x_train[0]

regression_GRU = Sequential()
regression_GRU.add(GRU(units=50, activation="relu", return_sequences=True, input_shape = (x_train.shape[1], x_train.shape[2]))) # 덩어리 원소 수 s, 컬럼수
regression_GRU.add(Dropout(0.2))

regression_GRU.add(GRU(units=60, activation="relu", return_sequences=True))
regression_GRU.add(Dropout(0.3))

regression_GRU.add(GRU(units=80, activation="relu", return_sequences=True))
regression_GRU.add(Dropout(0.4))

regression_GRU.add(GRU(units=48, activation="relu"))    # 120 => 48 = 24*2
regression_GRU.add(Dropout(0.5))

regression_GRU.add(Dense(units = 1))     # 20*24=>1

regression_GRU.compile(optimizer='adam', loss='mean_squared_error')

GRU_history = regression_GRU.fit(x_train, y_train, epochs=10, batch_size=32, validation_data=(x_test, y_test))

# 시계열 데이터는 시간별 데이터프레임을 통으로 넣고 돌리는 것

(1555, 24, 14)
(1555,)
(653, 24, 14)
(653,)
(480, 24, 14)
Epoch 1/10
49/49 [==============================] - 6s 40ms/step - loss: 63.0501 - val_loss: 51.4084
Epoch 2/10
49/49 [==============================] - 1s 28ms/step - loss: 20.0112 - val_loss: 31.5152
Epoch 3/10
49/49 [==============================] - 1s 28ms/step - loss: 17.1316 - val_loss: 39.4127
Epoch 4/10
49/49 [==============================] - 1s 29ms/step - loss: 14.4723 - val_loss: 21.9354
Epoch 5/10
49/49 [==============================] - 1s 29ms/step - loss: 13.6860 - val_loss: 15.2284
Epoch 6/10
49/49 [==============================] - 1s 29ms/step - loss: 14.4946 - val_loss: 19.0867
Epoch 7/10
49/49 [==============================] - 2s 31ms/step - loss: 13.5821 - val_loss: 15.7431
Epoch 8/10
49/49 [==============================] - 2s 32ms/step - loss: 13.6632 - val_loss: 17.5488
Epoch 9/10
49/49 [==============================] - 1s 29ms/step - loss: 12.7024 - val_loss: 8.6645
Epoch 10/10
49/49 [==============================] - 1s 30ms/step - loss: 12.6834 - val_loss: 16.1691

In [15]:
# regression_GRU.save('gru_2.h5')
# model2 = load_model('gru_2.h5')
# model2.summary()

In [22]:
# x_validation =[]
# x_validation.append(validation)
# x_validation = np.array(x_validation)
# x_validation.shape

(1, 312, 14)

In [27]:
p = regression_GRU.predict(x_validation)    # 13일치 넣으면 -> 20일치 나오겠지
# p1 = scaler.inverse_transform(p)
p

15/15 [==============================] - 1s 7ms/step

array([[13.752083 ],
       [13.983324 ],
       [14.215651 ],
       [14.449274 ],
       [14.685074 ],
       [14.925861 ],
       [15.169541 ],
       [15.399959 ],
       [15.627915 ],
       [15.7248125],
       [15.802458 ],
       [15.858939 ],
       [16.057383 ],
       [16.35476  ],
       [15.977971 ],
       [16.060816 ],
       [16.094854 ],
       [16.377132 ],
       [15.267723 ],
       [14.567396 ],
       [13.90883  ],
       [13.897654 ],
       [13.877891 ],
       [13.878556 ],
       [13.881469 ],
       [13.884388 ],
       [13.887315 ],
       [13.890253 ],
       [13.893207 ],
       [13.896166 ],
       [13.899134 ],
       [13.902109 ],
       [13.905094 ],
       [13.908083 ],
       [13.911081 ],
       [13.914091 ],
       [13.91711  ],
       [13.920141 ],
       [13.923187 ],
       [13.92625  ],
       [13.929335 ],
       [13.932408 ],
       [13.935476 ],
       [13.938538 ],
       [13.941591 ],
       [13.944637 ],
       [13.947676 ],
       [13.950705 ],
       [13.953729 ],
       [13.956743 ],
       [13.959749 ],
       [13.962751 ],
       [13.965742 ],
       [13.968727 ],
       [13.971706 ],
       [13.974678 ],
       [13.97765  ],
       [13.980614 ],
       [13.983571 ],
       [13.986522 ],
       [13.989464 ],
       [13.992399 ],
       [13.995327 ],
       [13.998249 ],
       [14.001163 ],
       [14.004069 ],
       [14.006969 ],
       [14.009865 ],
       [14.012751 ],
       [14.015631 ],
       [14.018501 ],
       [14.021367 ],
       [14.024226 ],
       [14.027078 ],
       [14.029903 ],
       [14.032549 ],
       [14.034994 ],
       [14.037182 ],
       [14.038988 ],
       [14.040047 ],
       [14.038713 ],
       [13.94068  ],
       [13.795486 ],
       [13.646475 ],
       [13.505092 ],
       [13.374505 ],
       [13.26142  ],
       [13.182516 ],
       [13.132666 ],
       [13.049963 ],
       [13.011028 ],
       [13.006398 ],
       [13.08918  ],
       [13.239643 ],
       [13.425096 ],
       [13.626233 ],
       [13.836893 ],
       [14.0520935],
       [14.270091 ],
       [14.489366 ],
       [14.711893 ],
       [14.941868 ],
       [15.170099 ],
       [15.430981 ],
       [15.517579 ],
       [15.556957 ],
       [15.673061 ],
       [15.665591 ],
       [15.644565 ],
       [15.586133 ],
       [15.751776 ],
       [16.084541 ],
       [15.364622 ],
       [15.576612 ],
       [14.315535 ],
       [13.951725 ],
       [13.066299 ],
       [13.191661 ],
       [13.351353 ],
       [13.538683 ],
       [13.739326 ],
       [13.945994 ],
       [14.154768 ],
       [14.363785 ],
       [14.575939 ],
       [14.800944 ],
       [15.031255 ],
       [15.30103  ],
       [15.347742 ],
       [15.467275 ],
       [15.517359 ],
       [15.513433 ],
       [15.469599 ],
       [15.685125 ],
       [15.625687 ],
       [15.365318 ],
       [15.366305 ],
       [15.610955 ],
       [14.486616 ],
       [13.602331 ],
       [13.221981 ],
       [13.354631 ],
       [13.529856 ],
       [13.729527 ],
       [13.941808 ],
       [14.158859 ],
       [14.376399 ],
       [14.592224 ],
       [14.806969 ],
       [15.021826 ],
       [15.235061 ],
       [15.534018 ],
       [15.776425 ],
       [15.826152 ],
       [15.957478 ],
       [16.072294 ],
       [16.11567  ],
       [16.18238  ],
       [16.359482 ],
       [16.601965 ],
       [16.082304 ],
       [16.332922 ],
       [15.035872 ],
       [15.177742 ],
       [14.185075 ],
       [14.171167 ],
       [14.151344 ],
       [14.140628 ],
       [14.131943 ],
       [14.122945 ],
       [14.115137 ],
       [14.108847 ],
       [14.103481 ],
       [14.097489 ],
       [14.088482 ],
       [14.081435 ],
       [14.07934  ],
       [14.0810585],
       [14.092209 ],
       [14.071485 ],
       [13.96716  ],
       [13.849265 ],
       [13.780946 ],
       [13.727102 ],
       [13.637756 ],
       [13.546704 ],
       [13.490795 ],
       [13.461019 ],
       [13.511961 ],
       [13.6241   ],
       [13.764542 ],
       [13.922507 ],
       [14.092107 ],
       [14.268019 ],
       [14.447972 ],
       [14.629467 ],
       [14.811346 ],
       [14.992521 ],
       [15.170949 ],
       [15.352896 ],
       [15.531472 ],
       [15.625128 ],
       [15.725981 ],
       [15.804607 ],
       [15.795892 ],
       [15.9612465],
       [16.247913 ],
       [15.464163 ],
       [15.451409 ],
       [15.695965 ],
       [14.51409  ],
       [14.234562 ],
       [13.538415 ],
       [13.679794 ],
       [13.852379 ],
       [14.039507 ],
       [14.235233 ],
       [14.434514 ],
       [14.634855 ],
       [14.835484 ],
       [15.037924 ],
       [15.24291  ],
       [15.466423 ],
       [15.759681 ],
       [16.065664 ],
       [15.871796 ],
       [15.785712 ],
       [15.821789 ],
       [15.8575115],
       [15.872707 ],
       [15.971624 ],
       [15.764679 ],
       [15.251318 ],
       [15.365421 ],
       [14.441681 ],
       [14.186501 ],
       [13.058592 ],
       [13.17791  ],
       [13.33308  ],
       [13.515005 ],
       [13.714951 ],
       [13.923885 ],
       [14.136985 ],
       [14.351856 ],
       [14.571524 ],
       [14.800856 ],
       [15.042715 ],
       [15.318758 ],
       [15.437336 ],
       [15.477192 ],
       [15.4750185],
       [15.6935425],
       [15.403152 ],
       [15.363422 ],
       [15.472274 ],
       [15.678902 ],
       [15.198547 ],
       [15.385041 ],
       [14.097457 ],
       [14.089117 ],
       [12.72307  ],
       [12.8630905],
       [13.039209 ],
       [13.246101 ],
       [13.469105 ],
       [13.698158 ],
       [13.927937 ],
       [14.15604  ],
       [14.386604 ],
       [14.627323 ],
       [14.860741 ],
       [15.072153 ],
       [15.321457 ],
       [15.379616 ],
       [15.422928 ],
       [15.444503 ],
       [15.453823 ],
       [15.709133 ],
       [15.387266 ],
       [15.333179 ],
       [15.240342 ],
       [15.320489 ],
       [14.598128 ],
       [14.282429 ],
       [13.142576 ],
       [13.178287 ],
       [13.260979 ],
       [13.385728 ],
       [13.536961 ],
       [13.702624 ],
       [13.879536 ],
       [14.057183 ],
       [14.261131 ],
       [14.467923 ],
       [14.665712 ],
       [14.869695 ],
       [15.047121 ],
       [15.266095 ],
       [15.353195 ],
       [15.259773 ],
       [15.232777 ],
       [15.227168 ],
       [15.245262 ],
       [15.17907  ],
       [14.851557 ],
       [14.9236765],
       [14.792627 ],
       [14.719547 ],
       [13.018118 ],
       [13.189863 ],
       [13.386652 ],
       [13.602467 ],
       [13.831435 ],
       [14.058901 ],
       [14.335003 ],
       [14.510511 ],
       [14.721896 ],
       [14.889265 ],
       [15.055033 ],
       [15.220514 ],
       [15.51041  ],
       [15.449656 ],
       [15.692305 ],
       [15.801659 ],
       [15.9050455],
       [15.997982 ],
       [16.079493 ],
       [16.141191 ],
       [16.18131  ],
       [16.351736 ],
       [15.709375 ],
       [15.781737 ],
       [14.474577 ],
       [14.472544 ],
       [14.473937 ],
       [14.476336 ],
       [14.479994 ],
       [14.48364  ],
       [14.487275 ],
       [14.490904 ],
       [14.49452  ],
       [14.498123 ],
       [14.501705 ],
       [14.5052805],
       [14.508844 ],
       [14.512398 ],
       [14.51594  ],
       [14.519475 ],
       [14.522981 ],
       [14.526474 ],
       [14.529961 ],
       [14.533436 ],
       [14.536913 ],
       [14.5403805],
       [14.543795 ],
       [14.547191 ],
       [14.550579 ],
       [14.553958 ],
       [14.557327 ],
       [14.560683 ],
       [14.5640335],
       [14.567386 ],
       [14.570743 ],
       [14.574091 ],
       [14.577431 ],
       [14.580751 ],
       [14.584054 ],
       [14.5873375],
       [14.590613 ],
       [14.59388  ],
       [14.597139 ],
       [14.600397 ],
       [14.603657 ],
       [14.606923 ],
       [14.61018  ],
       [14.613426 ],
       [14.61666  ],
       [14.619883 ],
       [14.623098 ],
       [14.626309 ],
       [14.629511 ],
       [14.632702 ],
       [14.635886 ],
       [14.639061 ],
       [14.642225 ],
       [14.645382 ],
       [14.648523 ],
       [14.651657 ],
       [14.65478  ],
       [14.657895 ],
       [14.661    ],
       [14.664099 ],
       [14.6672   ],
       [14.670295 ],
       [14.673382 ],
       [14.676459 ],
       [14.679529 ],
       [14.682592 ],
       [14.6856365],
       [14.688671 ],
       [14.691699 ],
       [14.694733 ],
       [14.697756 ],
       [14.700769 ],
       [14.703777 ],
       [14.706789 ],
       [14.709806 ],
       [14.712828 ],
       [14.7158375],
       [14.718813 ],
       [14.721804 ],
       [14.724893 ],
       [14.728064 ],
       [14.731411 ],
       [14.735336 ],
       [14.738962 ],
       [14.721617 ],
       [14.653042 ],
       [14.526163 ],
       [14.390099 ],
       [14.248419 ],
       [14.10829  ],
       [13.9774475],
       [13.853621 ],
       [13.733088 ],
       [13.622149 ],
       [13.538578 ],
       [13.527164 ],
       [13.565002 ],
       [13.646065 ],
       [13.765432 ],
       [13.906759 ],
       [14.064905 ],
       [14.233802 ],
       [14.4086   ],
       [14.583717 ],
       [14.751254 ],
       [14.913044 ],
       [15.026963 ],
       [15.207933 ],
       [15.383912 ],
       [15.616385 ],
       [15.701138 ],
       [15.7458515],
       [15.764787 ],
       [15.785585 ],
       [15.773259 ],
       [15.738251 ],
       [15.689475 ],
       [15.854559 ],
       [15.302774 ],
       [14.950508 ],
       [13.616172 ],
       [13.722241 ],
       [13.864491 ],
       [14.032823 ],
       [14.214136 ],
       [14.399488 ],
       [14.584961 ],
       [14.766418 ],
       [14.936451 ],
       [15.081997 ],
       [15.229424 ],
       [15.321262 ],
       [15.576168 ],
       [15.521533 ],
       [15.563217 ],
       [15.558103 ],
       [15.536488 ],
       [15.509599 ],
       [15.449025 ],
       [15.375533 ],
       [15.279886 ],
       [15.380397 ],
       [14.8609915],
       [14.514687 ],
       [13.355682 ],
       [13.448503 ],
       [13.600681 ],
       [13.777895 ]], dtype=float32)

In [28]:
len(p)

480

In [29]:
p = p.flatten()

In [30]:
h2 = []
for i in range(int(len(p)/24)):      # 분 -> 시간 단위 바꾸기 위해
    h2.append(np.sum(p[24*i:24*(i+1)]))
h2     

# 4~13, 18~20
h2.insert(0,0)     # 한 번만 클릭!
h2

h22 = h2[4:14] + h2[18:21]
h22

[326.59006,
 354.74,
 352.80676,
 365.83606,
 333.4577,
 358.9278,
 358.988,
 350.504,
 350.05893,
 347.73572,
 341.59805,
 359.73242,
 356.84253]

In [31]:
submission1['heat_supply_day2'] = h22
submission1

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4               NaN        326.590057
1   2022   3   5               NaN        354.739990
2   2022   3   6               NaN        352.806763
3   2022   3   7               NaN        365.836060
4   2022   3   8               NaN        333.457703
5   2022   3   9               NaN        358.927795
6   2022   3  10               NaN        358.988007
7   2022   3  11               NaN        350.503998
8   2022   3  12               NaN        350.058929
9   2022   3  13               NaN        347.735718
10  2022   3  18               NaN        341.598053
11  2022   3  19               NaN        359.732422
12  2022   3  20               NaN        356.842529

In [35]:
submission1

      yy  mm  dd  heat_supply_day1  heat_supply_day2
0   2022   3   4        361.109314        326.590057
1   2022   3   5        364.125854        354.739990
2   2022   3   6        364.233826        352.806763
3   2022   3   7        383.005676        365.836060
4   2022   3   8        373.862732        333.457703
5   2022   3   9        372.119629        358.927795
6   2022   3  10        365.764374        358.988007
7   2022   3  11        363.284180        350.503998
8   2022   3  12        365.085022        350.058929
9   2022   3  13        371.897705        347.735718
10  2022   3  18        363.250122        341.598053
11  2022   3  19        364.723846        359.732422
12  2022   3  20        361.595093        356.842529

In [34]:
submission1.to_csv('220224_soil_timeseries_sum_nooutlier.csv', index=False)

In [ ]:
### 와 눈에 띄게 줄었네~

In [ ]:
## 하긴 열 공급량이 같은 달인데 큰 차이 없는게 이상하진 않음!!

In [ ]:
## 여기서 더 건들지 말고 !!  하이퍼파라미터만 조금 더 손봐서(epoch, best weight)=> 해봤더니 성능과 비례하진 않음. 현재가 나음.